<div class="ui pointing compact menu column">
  <div class="item ">
    <img src="assets/img/logo-menu.png">
  </div>
  {{#link-to 'dashboard' class="item active"}}
    <i class="dashboard icon"></i>
    Tablero
  {{/link-to}}
  {{#link-to 'account' class="item"}}
    <i class="user icon"></i>
    Mi Cuenta
  {{/link-to}}
  {{#link-to 'functionary' class="item"}}
    <i class="users icon"></i>
    Funcionarios
  {{/link-to}}
  {{#link-to 'train' class="item"}}
    <i class="book icon"></i>
    Capacitaciones
  {{/link-to}}
  {{#link-to 'company' class="item"}}
    <i class="building icon"></i>
    Empresas
  {{/link-to}}
  <div class="right menu">
    <a class="image item">
      <img src="assets/img/logo-menu.png">
      {{session.accessUserName}}
    </a>
    {{#link-to 'logout' class="item"}}
      <i class="power icon"></i>
      Logout
    {{/link-to}}
  </div>
</div>