<form id="login" class="ui large form" {{action 'authenticate' on='submit'}}>
  <div class="ui stacked segment">
    <div class="field">
      <div class="ui left icon input">
        <i class="user icon"></i>
        {{input name='user' value=user placeholder='E-mail address'}}
      </div>
    </div>
    <div class="field">
      <div class="ui left icon input">
        <i class="lock icon"></i>
        {{input name='userPass' value=userPass placeholder='Enter Password' class='form-control' type='password'}}
      </div>
    </div>
    <button class="ui fluid large teal submit button " type="submit">Login</button>
  </div>
  <div class="ui error message"></div>
</form>