    html, body {
      height: auto;
    }
    body {
      background-color: #DADADA;
    }
    /*
     * Template Login
     */
    body .login.grid {
      height: 100%;
    }
	.login.ui.grid {
	    margin-top: 2rem;
	}
    .login > .column {
      max-width: 450px;
    }
    .login > .column > .image {
      margin-top: inherit;
    }
    .login > .column > .ui.header > .image {
    	width: 12.5em;
	}