<div class="ui middle aligned center aligned grid login">
  <div class="column">
    <h2 class="ui teal image header">
      <img src="assets/img/logo-login.png" alt="Foman.co" class="ui image">
    </h2>
	{{sign-form}}
    <div class="ui message">
     Forgot Password? {{#link-to 'login.reset' class='item'}}<i class="setting icon"></i>Reset Password{{/link-to}}
    </div>
  </div>
</div>