<h4 class="ui horizontal divider header">
  <i class="filter icon"></i>
  Filter Account
</h4>
<div class="ui form">
  <div class="three fields">
    <div class="field">
      <label>First name</label>
      <input type="text" placeholder="First Name">
    </div>
    <div class="field">
      <label>Middle name</label>
      <input type="text" placeholder="Middle Name">
    </div>
    <div class="field">
      <label>Last name</label>
      <input type="text" placeholder="Last Name">
    </div>
  </div>
</div>
<div class="ui segment">
	<button class="ui primary button">
		<i class="icon filter"></i>
		Buscar
	</button>
	<button class="ui yellow button">
		<i class="icon erase"></i>
		Limpiar
	</button>
  <button {{action "new"}} class="ui green button">
    <i class="icon add user"></i>
    Nuevo
  </button>
</div>
<h4 class="ui horizontal divider header">
  <i class="list icon"></i>
  List Account
</h4>
<table class="ui teal selectable celled table">
  <thead>
    <tr>
      <th>Carnet</th>
      <th>Estado</th>
      <th>Horas</th>
      <th>Nombres</th>
      <th>Idestificacion</th>
      <th>Expedicion</th>
      <th>Vencimiento</th>
      <th>Email</th>
      <th>Teléfono</th>
      <th>Empresa</th>
      <th>Accion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
		<td>0000001</td>
		<td><a class="ui green empty circular label center"></a></td>
		<td>10</td>
		<td>Edwin Duvan Linares Juntinico</td>
		<td>1012331769</td>
		<td>13/01/2017</td>
		<td class="positive">13/01/2017</td>
		<td>ediducas@gmail.com</td>
		<td>3017128280</td>
		<td>Empresa 1</td>
		<td>
			<div class="ui center floated main menu">
				<a class="edit popup icon item" data-content="Editar">
			  		<i class="edit icon"></i>
				</a>
				<a class="trash popup icon item" data-content="Borrar">
			  		<i class="trash icon"></i>
				</a>
			</div>
		</td>
    </tr>
    {{#each model.functionaries}}
      <tr>
        <td>{{primaryKey}}</td>
        <td><a class="ui green empty circular label center"></a></td>
        <td>{{funcName}}</td>
        <td>{{funcName}}</td>
        <td>{{funcNit}}</td>
        <td>{{funcIn}}</td>
        <td>{{funcEnd}}</td>
        <td>{{funcEmail}}</td>
        <td>{{funcPhone}}</td>
        <td>{{funcCompany.companyName}}</td>
        <td>
          {{#link-to 'edit' this class="edit popup icon item" data-content="Editar"}}
              <i class="edit icon"></i>
          {{/link-to}}
          <a {{action delete this}} class="trash popup icon item" data-content="Borrar">
              <i class="trash icon"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>