<div class="ui two column grid">
  <div class="column">
    <div class="ui raised segment">
      <a class="ui red ribbon label">Overview</a>
      <span>Account Details</span>
      <p></p>
      <a class="ui blue ribbon label">Community</a> User Reviews
      <p></p>
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <a class="ui orange right ribbon label">Specs</a>
      <p></p>
      <a class="ui teal right ribbon label">Reviews</a>
      <p></p>
    </div>
  </div>
</div>
{{outlet}}