<div class="ui middle aligned center aligned grid login">
	<div class="column">
		<h2 class="ui teal image header">
			<img src="assets/img/logo-login.png" alt="Foman.co" class="ui image">
		</h2>
		<h1 class="ui center aligned header teal">{{model.funcName}}</h1>
		<h3 class="ui center aligned header">Felicitaciones, Estas totalmente capacitado</h3>
		<div class="ui horizontal segments">
			<div class="ui green left floated piled segment">
				<h2 class="ui teal image header">
					<img src="assets/img/good-capacit.png" alt="Foman.co" class="ui image" style="width: 20.5em;">
				</h2>
			</div>
			<div class="ui green left floated piled segment" style="font-size: 41px;">
				<h1 class="ui center aligned header green">10</h1>
				<h1 class="ui center aligned header green">Horas</h1>
				<h3 class="ui center aligned header green">De Capacitación</h3>
				<div class="ui indicating progress success" data-percent="100">
					<div class="bar" style="transition-duration: 300ms; width: 100%;"></div>
				</div>
				<p><h5 class="ui center aligned header"><strong>Te han faltado 0 Horas</strong> para estar correctamente capacitado</h5></p>
				<h5 class="ui center aligned header"><span class="teal">Fecha Limite</span> 17/01/2016</h5>
			</div>
		</div>
		<h1 class="ui center aligned header teal">Te haz Camapitado en:</h1>
		<h3 class="ui center aligned header">
			<i class="checkmark icon"></i>
			<div class="content">
				Curso Basico de manipulacion de alimentos
			</div>
		</h3>
		<h3 class="ui center aligned header">
			<i class="checkmark icon"></i>
			<div class="content">
				Taller de Limpieza Desinfenccion
			</div>
		</h3>
	</div>
</div>